:host {
    view-transition-name: active-quiz-card;
}

.tests-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(184, 184, 184, 0.278);

    .previewTest {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        box-shadow: 0.0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.431);
        border-radius: 0.5rem;
        transition: width 0.5s ease;

        .test-header {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 0.5rem;
        }

        .question {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem;
            background-color: rgba(239, 240, 240, 0.585);
            box-shadow: 0.0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.278);
            border-radius: 0.25rem;

            label {
                width: 100%;
                padding: 0.5rem;
                text-align: center;
                border-bottom: 0.1rem solid black;
                font-weight: bolder;
            }

            .answers {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.2rem;
                width: 100%;
                padding: 0.25rem;
                border-bottom: 0.1rem solid black;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50%;
        padding: 0.2rem;

        .btn {
            padding: 0.25rem;
            text-align: center;
            font-size: 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            box-shadow: 0.25rem 0.1rem 0.2rem rgba(0, 0, 0, 0.431);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white;
            }
        }

        .saveBtn {
            background-color: rgba(255, 140, 0, 0.369);

            &:hover {
                background-color: darkorange;
            }
        }

        .editeBtn {
            background-color: rgba(0, 0, 139, 0.332);

            &:hover {
                background-color: darkblue;
            }
        }
    }
}

@media (min-width: 576px) {
    .tests-container {
        
        .previewTest {
            width: 75%;
            font-size: 1.2rem;
            transition: width 0.5s ease;
        }
    }
}

@media (min-width: 992px) {
    .tests-container {

        .previewTest {
            width: 75%;
        }
    }
}

@media (min-width: 768px) {
    .tests-container {
        
        .previewTest {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .tests-container {
        
        .previewTest {
            width: 50%;
        }
    }
}