.container-tests {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(184, 184, 184, 0.278);

    .test {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 0.5rem 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: rgba(249, 249, 249, 0.557);
        box-shadow: 0.0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.431);
        transition: width 0.5s ease;

        &.delete {
            animation: delete 0.4s ease-in-out both;
        }

        .deleteDiv {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;

            .deleteBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: none;
                cursor: pointer;
            }
        }

        .headerTest {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
        }

        .quest {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            margin: 0.5rem 0.5rem;
            padding: 0.5rem;
            border-radius: 0.25rem;
            background-color: rgba(239, 240, 240, 0.585);
            box-shadow: 0.0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.278);

            label {
                width: 100%;
                padding: 0.5rem;
                text-align: center;
                border-bottom: 0.1rem solid black;
                font-weight: bolder;
            }

            .answers {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: 0.25rem;
                padding: 0.5rem;
                border-bottom: 0.1rem solid black;
            }
        }
    }
}

@keyframes delete {
    from {
        opacity: 1;
        max-height: 500px;     
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transform: scale(1);
    }
    to {
        transform: scale(0);
        opacity: 0;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        border: none;
    }
}

@media (min-width: 576px) {
    .container-tests {
        
        .test {
            width: 75%;
            font-size: 1.2rem;
            transition: width 0.5s ease;
        }
    }
}

@media (min-width: 992px) {
    .container-tests {

        .test {
            width: 75%;
        }
    }
}

@media (min-width: 768px) {
    .container-tests {
        
        .test {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .container-tests {
        
        .test {
            width: 50%;
        }
    }
}